ENABLE_LIVE_INTEGRATIONS=false

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
RESEND_FROM_EMAIL=jacob@darlingmartech.com

LOOPS_API_KEY=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

N8N_WEBHOOK_URL_CONTACT=
N8N_WEBHOOK_URL_TOOL=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=c-5c7019a74c9c24ab5eda7e213055bd
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NEXT_PUBLIC_CAL_LINK=jacob-darling/30min
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=darlingmartech.com
